
#mycanvas {
    text-align: justify;
    color: red;
}
html, body{
  background: linear-gradient(45deg, rgba(58,180,115,1) 0%, rgba(46,173,169,1) 25%, rgba(142,174,93,1) 42%, rgba(252,176,69,1) 59%, rgba(218,122,77,1) 77%, rgba(174,88,88,1) 100%);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  opacity: 0.9;
}
body {
    background-color: black;
}


p-2 {
      transform: skew 20;
}

.box {
                width: 25px;
                height: 25px;
                color:none;
                margin-top: 20px;
                background-image: linear-gradient(to bottom right, red, yellow);
                margin-left: auto;
                border:none;
                font-size:0px;
                -webkit-transition:  0.5s ease-out;
                -moz-transition:  0.5s ease-out;
                -o-transition:  0.5s ease-out;
                transition:  0.5s ease-out;
          }

.box:hover {
                background-image: linear-gradient(to right, blue, purple);
                font-size:14px;
                color:red;
                width:100%;
                cursor: pointer;
          }
