
body, html{
  /* background: linear-gradient(45deg, rgba(58,180,115,1) 0%, rgba(46,173,169,1) 25%, rgba(142,174,93,1) 42%, rgba(252,176,69,1) 59%, rgba(218,122,77,1) 77%, rgba(174,88,88,1) 100%);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  opacity: 0.9; */
}

.propo {
  width: 50%;
  margin-left: 20%;
  font-family: Arial Black, sans-serif;
  font-size: 42pt;
  font-weight:  100;
  letter-spacing: 2px;
  padding: 10px;
  /* text-align: center; */
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;

}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.overll{
  margin: 0;
  height: 100vh;
  font-family: "Exo", sans-serif;
  color: #fff;
  background: linear-gradient(45deg, rgba(58,180,115,1) 0%, rgba(46,173,169,1) 25%, rgba(142,174,93,1) 42%, rgba(252,176,69,1) 59%, rgba(218,122,77,1) 77%, rgba(174,88,88,1) 100%);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  opacity: 0.9;

}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*
  .scroll-box {
      border: 2px solid rgba(0, 0, 0, 0.1);
      width: 50%;
      overflow-y: scroll;
  } */

  .center{
    margin-left: 20%;
  }
